@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #efefef;
  /* background-color: white; */

  overflow-x: hidden;
}
* {
  /* outline: 10px solid red; */
  /* overflow-x: hidden; */
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #03a9f4;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.menu-bar {
  animation: rotate 0.4s forwards linear;
}
.menu-x {
  animation: scale 0.4s forwards linear;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

.gear-container:hover > svg {
  animation: spin 0.4s linear forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
