@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #efefef;
  overflow-x: hidden;
}
* {
  /* outline: 10px solid red; */
  /* overflow-x: hidden; */
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #03a9f4;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
